<!DOCTYPE html lang="en">
<html>
  <head>
    <title>My sample app title</title>
    
  </head>
  <body>
    <h1>My sample app title</h1>
    <p>A very simple express application</p>

    <p>Example API:
      <ul>
        <li>/api/messages</li>
      </ul>
    </p>
    

    <div>
      
      <label for="apiUrl">API Url</label>
      <input id="apiUrl" placeholder="Enter url">
      <br/>
      <label for="testResult">Result</label>
      <textarea id="testResult" placeholder="Click Test"></textarea>
    </div>

    <button id="testButton" type="button">Test</button>
    
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
      $(function () {

      // setup requests to accept application/json responses
      $.ajaxSetup({
      dataType: 'json'
      });

      function callApi(url) {
      $.get(url, function (data) {
          $('#testResult').text(JSON.stringify(data));
      }).fail(function (error) {
      $('#testResult').text('ERROR: ' + JSON.stringify(error));
      });
      }
      
      $("#testButton").on('click', function () {
      var url = $('#apiUrl').val();
      callApi("http://localhost:3000/" + url);
      });
      
      });
      
    </script>
  </body>
</html>
